@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>InnovationX Hungary Kft.</strong><br />
        Dobos utca 22.<br />
        Budapest,<br />
        1204<br />
        Hungary<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:info@imageoptimizerx.com">info@imageoptimizerx.com</a>
</address>
