@{
    ViewData["Title"] = "ImageOptimizerX";
}
<h2>Increase your site's speed</h2>
<p>ImageOptimiserX is an advanced image optimizer for WordPress</p>
<p><a class="btn btn-lg btn-danger" asp-action="Pricing" asp-controller="Home" role="button">See Plans and Pricing</a></p>

@section scripts
{
    
}